.hexagon {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  height: 200px;
  box-sizing: border-box;
  border-top: 3px solid #79a1f5;
  border-bottom: 3px solid #79a1f5;
}

/* Creating pseudo-class */
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  border: inherit;
  display: flex;
  background-color: white;
  border-radius: inherit;
  height: 55%;
  width: 120%;
  border-top: transparent;
  border-bottom: transparent;
  border-left: 3px solid #79a1f5;
  border-right: 3px solid #79a1f5;
}

/* Align them in such a way
        that they form a hexagon */
.hexagon:before {
  transform: rotate(15deg);
}
.hexagon:after {
  transform: rotate(-15deg);
}
