.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 16px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.node {
  cursor: grab;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 30%;
    max-width: 250px;
  }
}

.hexagon-sidebar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: white;
  border-top: 3px solid #79a1f5;
  border-bottom: 3px solid #79a1f5;
  border-radius: 10px;
  width: 63px;
  height: 100px;
}

/* Creating pseudo-class */
.hexagon-sidebar:before,
.hexagon-sidebar:after {
  content: "";
  border: inherit;
  position: absolute;
  background-color: white;
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

/* Align them in such a way
        that they form a hexagon */
.hexagon-sidebar:before {
  transform: rotate(60deg);
}
.hexagon-sidebar:after {
  transform: rotate(-60deg);
}
