.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: #d2e0ff;
  border-radius: 20px;
  width: 200px;
  margin-top: 5px;
}

.nav-items span {
  color: black;
  text-decoration: none;
  padding-top: 10px;
  transition: background-color 0.3s;
}

.nav-items span:hover {
  background-color: #0056b3;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
